<!DOCTYPE html>
<html lang="en">

<head>
<title>Insta Chef</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=block" />
<script src="{{ url_for('static', filename='script.js') }}" defer></script>

</head>
<body>
 
<h1> Insta Chef <span class="material-symbols-outlined" style="font-size:60px">skillet</span></h1>
<p class = "avatar">Welcome to Insta Chef! Here you can retrieve recipes instantly without needing to search the internet for hours!</p>
<br>

<div class = "chatbot">
<ul class = "ai_chat">
    <li class = "automatic_message">
        <span id = "query" class = "logo"> 
            <p class = "entry_message"> 
                <span class="material-symbols-outlined" style="font-size:40px">mood</span>
                <span class = "entry_text">Hi, How can I help you?</span>
            </p>
        </span>
    </li>
</ul>

<div class = "input">
    <textarea id = "enter" placeholder = "Enter message" required></textarea>
    <span id = "send" class = "send_logo">
        <span class="material-symbols-outlined" style="transform: translate(540px, -15px); font-size:60px">send</span>
    </span>
</div>

</div>
<br>

<div class = "recipe_text"></div>
<button class = "audio_button">Generate Audio</button>

<br>

<audio id = "audio_file"></audio>
</body>
</html>