<!DOCTYPE html>
<html lang="en">

<head>
<title>Insta Chef</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
 

<h1> Insta Chef <img src = "https://attic.sh/iiq017aushlxw6gd3e2mqziazci2" class = "image"> </h1>
<p class = "avatar">Welcome to Insta Chef! Here you can retrieve recipes instantly without needing to search the internet for hours!</p>
<br>

<div class = "chatbot">
<ul class = "chatbox">
    <li class = "automatic_message">
        <span id = "query" class = "logo"> 
            <p class = "entry_message"> 
                <img src = "https://attic.sh/iiq017aushlxw6gd3e2mqziazci2" class = "icon_entry" alt = "Logo"> 
                <span class = "entry_text">Hi, How can I help you?</span>
            </p>
        </span>
    </li>
    <li class = "begin_chat">
        <p>User message</p>
    </li>
</ul>


<div class = "input">
    <textarea placeholder = "Enter message"></textarea>
    <span id = "send" class = "send_logo">
        <img src = "https://cdn.iconscout.com/icon/free/png-256/free-send-icon-download-in-svg-png-gif-file-formats--sent-share-transfer-ui-basic-pack-user-interface-icons-2082560.png"></img>
    </span>
</div>
</div>

</body>
</html>